<%= form_for(@user, :html => { :class => "signup-form centered" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :email_confirmation %>
    <%= f.text_field :email_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Sign me up!", :class => "btn btn-medium btn-primary submit-button" %>
  </div>
<% end %>
