<% provide(:title, "My profile") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
      	<%= @user.email %>
      </p>
    </section>
  </aside>
  <div class="span8">
    <% if @user.statuses.any? %>
      <h3>Statuses (<%= @user.statuses.count %>)</h3>
      <ol class="statuses">
        <%= render @statuses %>
      </ol>
      <%= will_paginate @statuses %>
    <% end %>
  </div>

</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
